<!-- Issue 表示 -->
<%
   if @project.present? &&
      controller &&
      controller.class.name == 'IssuesController' &&
      controller.action_name == 'show'

   setting =  @project.changeset_relation_setting

   if setting.present? && setting.custom_field.present?
%>

<script type="text/javascript">
  function changeRelationLink(link) {
    const id = link.innerText.slice(1);
    link.title = '';
    link.href = '<%= setting.custom_field.format_store['url_pattern'] %>'.replace('%value%', id);
  }

  document.addEventListener('DOMContentLoaded', function(e) {
    // Redmine3
    const changesets = document.getElementById('issue-changesets');
    if (changesets != null) {
      for (const link of changesets.querySelectorAll('a.issue')) {
        changeRelationLink(link);
      }
    }

    // Redmine4 or later
    const tab = document.getElementById('tab-content-changesets');
    if (tab != null) {
      const observer = new MutationObserver(function(mutationsList) {
        for (const mutation of mutationsList) {
          if (mutation.type == 'childList') {
            for (const link of tab.querySelectorAll('a.issue')) {
              changeRelationLink(link);
            }
          }
        }
      });
      observer.observe(tab, { childList: true });
    }
  });
</script>

<% end %> <!-- if -->
<% end %> <!-- if -->

<!-- プロジェクト設定のリポジトリタブ表示 -->
<%
   if @project.present? &&
      controller &&
      controller.class.name == 'ProjectsController' &&
      controller.action_name == 'settings' &&
      User.current.allowed_to?(:manage_repository, @project)
%>

<%
   setting =  @project.changeset_relation_setting || ChangesetRelationSetting.new

   custom_fields = CustomField.where(type: 'IssueCustomField', is_for_all: true)
   custom_fields |= @project.issue_custom_fields
   custom_fields.sort_by!{ |c| c.name }
%>

<%= form_tag({controller: :changeset_relation_settings, action: :update, project_id: @project.id},
             id: 'changeset_relation_setting',
             method: 'PUT') do %>

<div class="box">
  <%= hidden_field_tag('changeset_relation_rescan', 'false') %>

  <p>
    <label for="changeset_relation_id"><%= l(:label_changeset_relation_id) %>:</label>
    <%= select_tag('changeset_relation_id',
                   options_for_select(custom_fields.collect {|c| [c.name, c.id]}, setting.custom_field_id),
                   include_blank: true)  %>
  </p>
</div>

<p>
  <%= submit_tag l(:button_save) %>
</p>

<% end %> <!-- form_tag -->

<script type="text/javascript">
  function confirmRescan() {
    let rescan = document.getElementById('changeset_relation_rescan');
    rescan.value = window.confirm("<%= l(:label_rescan)  %>")
  }

  document.addEventListener('DOMContentLoaded', function(e) {
    // リポジトリタブのみ表示する。
    let changesetRelationSetting = document.getElementById('changeset_relation_setting');
    let tab = document.getElementById('tab-content-repositories');
    if (tab !== null) {
      tab.appendChild(changesetRelationSetting);
    } else {
      changesetRelationSetting.style.display = 'none';
    }

    let submit = changesetRelationSetting.querySelector('input[type="submit"]');
    submit.addEventListener('click', confirmRescan);
  });
</script>

<% end %> <!-- if -->

<!-- リポジトリ表示 -->
<%
   if @project.present? &&
      controller &&
      controller.class.name == 'RepositoriesController' &&
      controller.request.method == 'GET'

   setting =  @project.changeset_relation_setting

   if setting.present? && setting.custom_field.present?
%>

<script type="text/javascript">
  function changeRelationLink(link) {
    const id = link.innerText.slice(1);
    link.title = '';
    link.href = '<%= setting.custom_field.format_store['url_pattern'] %>'.replace('%value%', id);
  }

  document.addEventListener('DOMContentLoaded', function(e) {
    for (const comment of document.querySelectorAll('td.comments')) {
      for (const link of comment.querySelectorAll('a.issue')) {
        changeRelationLink(link);
      }
    }

    for (const comment of document.querySelectorAll('div.changeset-comments')) {
      for (const link of comment.querySelectorAll('a.issue')) {
        changeRelationLink(link);
      }
    }
  });
</script>

<% end %> <!-- if -->
<% end %> <!-- if -->
